# Environment files
.env
.env.*
!.env.example

# Docs
docs/*
!docs/assets/
!docs/assets/**

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.sqlite3

# Node / frontend
node_modules/
dist/

# Logs
*.log

# OS / editor
.DS_Store
.idea/
.vscode/
